.portal
  .part1
    .content
      p This system can predict the location of measurement report(MR)
      p Visualize and compare the results, Generate reports

  .wrapper(ng-hide='rawFileList')
    .all-loading
      img(src='./styles/image/loading.gif')
  .wrapper(ng-show='rawFileList')
      .part2
        .content
          .left
            p Raw Data
          .right
            .sd-sides
              span.tag
              select(
              ng-model='cleanConf.rawFile'
              ng-options='name for name in rawFileList'
              )
                option(value="") -- choose raw file --
      .part2
        .clean
          .content(
            style='height:160px'
          )
            .left
              p Clean
              .row(ng-show='cleanConf.rawFile')
                .btn.btn-block.btn-lg.btn-success(ng-click='submitCleanTask()')
                  | submit
            .middle
              span.fui-triangle-up(
              style='float:left'
              ng-show='cleanScreen'
              ng-click='cleanScreen=0'
              )
            .right
              .check-element.animate-hide(ng-hide='cleanScreen')
                label.checkbox
                  input(type='checkbox', ng-model='cleanConf.delNullLacOrCellId')
                  span Delete null LAC or Cell-id

                label.checkbox
                  input(type='checkbox', ng-model='cleanConf.delNullLngOrLat')
                  span Delete null Longitude or Latitude

                label.checkbox
                  input(type='checkbox', ng-model='cleanConf.isMR')
                  span Message Type is 'Measurement Report'

                label.checkbox
                  input(type='checkbox', ng-model='cleanConf.setRLGT')
                  span Serving BS RxLev greater than
                    select(
                    ng-disabled='!cleanConf.setRLGT'
                    ng-model='cleanConf.RxLevGreaterThan'
                    ng-options='name for name in [-50,-60,-70,-80,-90,-100,-110,-1000]'
                    )
              .check-element.animate-hide(ng-show='cleanScreen')

                .check-element.animate-hide(ng-show='cleanLoading')
                  img.loading(src='./styles/image/loading.gif')
                .check-element.animate-hide(ng-hide='cleanLoading')
                  p Raw File :
                    span {{splitResult.input.rawFile}}
                    |({{splitResult.input.rows}},{{splitResult.input.columns}})
                  p Deleted :
                    span {{splitResult.input.rows - splitResult.output.rows}}
                    |rows
                  p Saved as :
                    span {{splitResult.output.cleanFile}}
                    |({{splitResult.output.rows}},{{splitResult.output.columns}})

      .part2
        .content(
        style='height:160px'
        )
          .left
            p Split Train & Test
            .row
              select(
              ng-model='splitConf.cleanFile'
              ng-options='name for name in cleanFileList'
              )
                option(value="") -- choose clean file --
            .row(ng-show='splitConf.cleanFile')
              .btn.btn-block.btn-lg.btn-success(ng-click='submitSplitTask()',ng-hide='load1')
                | submit
          .middle
            span.fui-triangle-up(
            style='float:left'
            ng-show='splitScreen'
            ng-click='splitScreen=0'
            )
          .right
            .check-element.animate-hide(ng-hide='splitScreen')
              .sylfix
                label.radio
                  input(type='radio', ng-value='false' , ng-model='splitConf.isRandom')
                  span Ordered
                label.radio
                  input(type='radio', ng-value='true' , ng-model='splitConf.isRandom')
                  span Random
                label Ratio
                  select(
                  ng-model='splitConf.ratio'
                  ng-options='name for name in [10,20,30,40,50,60,70,80,90]'
                  )
            .check-element.animate-hide(ng-show='splitScreen')
              .sylfix
                .check-element.animate-hide(ng-show='splitLoading')
                  img.loading(src='./styles/image/loading.gif')
                .check-element.animate-hide(ng-hide='splitLoading')
                  p Train Set:
                    span {{splitResult.input.trainSet}}
                    |({{splitResult.input.rows}},{{splitResult.input.columns}})

                  p Test Set:
                    span {{splitResult.output.testSet}}
                    |({{splitResult.output.rows}},{{splitResult.output.columns}})

      .part2
        .content
          .left
            p Algorithm
          .right
            label.radio
              input(type='radio', value='DT', ng-model='algorithm')
              span Decision Tree(DT)
            label.radio
              input(type='radio', value='RF_roc', ng-model='algorithm')
              span 2 Layer Random Forest(RF)
            label.radio
              input(type='radio', value='MLP', ng-model='algorithm')
              span Multilayer Perceptron (MLP)
            label.radio
              input(type='radio', value='RNN', ng-model='algorithm')
              span Recurrent Neural Networks(RNN)
      .part2
        .content
          .left
            p {{algorithm}} Configuration
            .row
              .labelroc Train Set
              select(
              ng-model='trainSet'
              ng-options='name for name in trainFileList'
              )
                option(value="") -- choose train set --

            .row
              .labelroc Test Set
              select(
              ng-model='testSet'
              ng-options='name for name in testFileList'
              )
                option(value="") -- choose test set --

            .row(ng-show='trainSet&&testSet')
              .btn.btn-block.btn-lg.btn-success(ng-click='submitTask()',ng-hide='load1')
                | submit


          .right
            .slide-animate-container
              .slide-animate(ng-include='template.url')


      .part2
        .content
          .left
            p Results
          .right

      .part2
        .content
          .left
            p Analysis
          .right




